/*
Program Name: style.css
Author: Alison Adraneda
Date Created: 06/18/2026
Date Last Edited: 06/18/2026
Version: 1.0
Description: CSS styling for Patient Registration Form
*/

body {
    font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    background-color:#c9e0e4;
    margin: 15px;}

#header {
    text-align: center;
    background-color: #033057;
    color: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;}

#header img {width: 200px;}

h1 {   font-family: Garamond, serif;
    color: rgb(246, 248, 253);
    font-size: 52px;}

h2 { color: #006d84;
    border-bottom: 2px solid #084a19;
    padding-bottom: 5px;}

form {
    background-color: #e4eef6;
    padding: 25px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;}

label {font-weight: bold;}

input,
textarea,
select {padding: 6px;
    margin-top: 5px;
    border: 1px solid #76ba88;
    border-radius: 5px;}

input[type="submit"],
input[type="reset"] {
    background-color: #006d84;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;}

input[type="submit"]:hover,
input[type="reset"]:hover {background-color: #07451b;}

    #footer {text-align: center;
    padding: 15px;}

    #reviewTable {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
}

#reviewTable th,
#reviewTable td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

#reviewTable th {
    background-color: #d8e8ef;
}